<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
<!-- update the header -->
<h1>Edit <%= car.name %></h1>
<form action="/cars/<%= car._id %>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= car.name %>" />

    <label for="isReadyToEat">Description:</label>
    <input type="text" name="description" id="description"/>

    <label for = "image" >Image:</label>
    <input type="text" name="image" placeholder="Image URL" required>

    <button type="submit">Update Car</button>
</form>
<a href="/cars">Back to Cars</a>
</body>
</html>